.top-container{
  background-color: #FFCFCF;
  height: 2000px;
}

  .logo-top{
    position: absolute;
    right: 150px;
    top: 40px;
  }

  .h1{
    color: #4DA1A9;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 400px;
  }